@media only screen and (max-width: 896px) {
  main {
    font-size: 1rem;
  }
  #aboutme-intro {
    padding: 0 80px;
  }

  #aboutme-python {
    padding-left: 80px;
  }
  #aboutme-python-image {
    padding-right: 80px;
  }
  #aboutme-frontend {
    padding-right: 80px;
  }
  #frontend-link {
    padding-left: 80px;
  }

  #interests-info {
    padding-left: 80px;
  }
  
  #interests-image {
    padding-right: 80px;
  }
  #objective-info {
    padding: 0 80px;
  }
}
