@font-face {
  font-family: "objectivity-regular";
  src: url("./fonts/objectivity/Objectivity/Objectivity-Regular.otf")
      format("opentype"),
    url("./fonts/objectivity/Objectivity/Objectivity-Regular.woff2")
      format("woff2");
}
@font-face {
  font-family: "fragile-bombers";
  src: url("./fonts/fragile-bombers/Fragile\ Bombers.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

/*///////////////////////////////////*/

body {
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1.5;
}

#canvas {
  position: fixed;
  box-sizing: border-box;
  z-index: -1;
  background-color: #03091d;
  height: 100%;
  width: 100%;
}
/*/ //////////////////////////////////*/

.wrapper {
  z-index: 0;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "ooter";

  margin: auto;
  padding-top: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
}
/*///////////////////////////////////*/
/*nav*/

.nav-container {
  grid-area: header;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
}
.nav-item {
  padding: 10px 10px;
  text-align: center;
}

button {
  width: 100px;
  min-width: 60px;
  height: 37px;
  font-family: "objectivity-regular";
  font-size: 1rem;
  border-style: none;
  border-radius: 5px;
  color: #fff;
  background-color: #552b72;
  opacity: 0.5;
  transition: opacity 1s;
}
button:hover {
  opacity: 1;
  cursor: pointer;
}
.active-button {
  opacity: 1;
}

/*///////////////////////////////////*/

main {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "home"
    "aboutme"
    "interests"
    "objective";
  font-family: "objectivity-regular";
  font-size: 1.3rem;
  width: 100%;
}
/*/ //////////////////////////////////*/

/*content*/

#home {
  grid-area: home;
  display: grid;
  text-align: center;
  height: 100vh;
  align-items: center;
}
#home-h1 {
  font-size: 4.5rem;
  font-family: "fragile-bombers";
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  opacity: 0.4;
  transition: opacity 1s;
}
.arrow:hover {
  box-shadow: 5px;
  opacity: 1;
}

/*//////////////////////////////////*/

#aboutme {
  grid-area: aboutme;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  margin: auto;
  width: 100%;
}

#aboutme-intro {
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  display: grid;
  align-items: center;
}
#aboutme-info {
  grid-column: 1/3;
  grid-row: 2;
  display: grid;
  grid-template-columns: minmax(200px, 500px) minmax(200px, 500px);
  grid-template-rows: fit-content(400px) fit-content(400px) fit-content(400px);
  height: 100vh;
  align-items: center;
  margin: auto;
  margin-top: 25vh;
  padding-top: 25vh;
}

#aboutme-python {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  padding: 20px;
}
#aboutme-python-image {
  grid-column: 2;
  grid-row: 1;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 20px;
}

#aboutme-frontend {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  padding: 20px;
}
#frontend-link {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  padding: 20px;
}
#frontend-image {
  max-width: 100%;
  height: auto;
}
#aboutme-info-arrow {
  grid-column: 1/3;
  grid-row: 3;
  align-items: center;
  margin: auto;
}

/*/ //////////////////////////////////*/
#interests {
  grid-area: interests;
  display: grid;
  grid-template-columns: minmax(200px, 500px) minmax(200px, 500px);
  grid-template-rows: fit-content(400px) fit-content(400px);
  height: 100vh;
  align-items: center;
  margin: auto;
  margin-top: 25vh;
  padding-top: 25vh;
}
#interests-info {
  grid-column: 1;
  grid-row: 1;
  padding: 35px;
}
#interests-image {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  padding: 20px;
  max-width: 448px;
}
#interests-arrow {
  grid-column: 1/3;
  grid-row: 2;
  margin: auto;
  margin-top: 20px;
}

/*///////////////////////////////////*/
#objective {
  grid-area: objective;
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  display: grid;
  align-items: center;
}

/*/ //////////////////////////////////*/

.footer {
  grid-area: footer;
  grid-column: 1/3;
  margin: 10vh auto;
}
